<!DOCTYPE html>
<html>

<head>
  <% include templates/head.ejs %>
</head>

<body id="<%= pageID %>">

  <div class="container">
    <div class="row" style="margin:50px">

      <% include content/index.ejs %>

    </div>
    <!-- row -->
  </div>
  <!-- container -->


  <% include templates/jsDefault.ejs %>
    <% include templates/footer.ejs %>

</body>

</html>
